@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

/* ---------------- ROOT VARIABLES ---------------- */
:root {
  --color-blue: #94eaff;
  --color-light-100: #e7f2ff;
  --color-light-200: #bdbdbd;
  --color-border-dark: #151024;
  --color-dark-100: #0d161a;
  --color-dark-200: #182830;

  --radius: 0.625rem;

  --background: #030708;
  --foreground: #ffffff;
  --border: #1f1f1f;
  --ring: #3b82f6;
}

/* ---------------- THEME ---------------- */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-blue: var(--color-blue);
  --color-light-100: var(--color-light-100);
  --color-light-200: var(--color-light-200);

  --color-border-dark: var(--color-border-dark);
  --color-dark-100: var(--color-dark-100);
  --color-dark-200: var(--color-dark-200);
}

/* ---------------- UTILITIES ---------------- */
@utility flex-center {
  @apply flex items-center justify-center;
}

@utility text-gradient {
  @apply bg-gradient-to-b from-white via-white to-blue bg-clip-text text-transparent font-semibold;
}

@utility glass {
  @apply bg-black/50 rounded-md backdrop-blur-xl border-b border-[var(--color-border-dark)];
}

@utility card-shadow {
  box-shadow: 0px 4px 40px 0px #00000066;
}

/* ---------------- BASE ---------------- */
@layer base {
  * {
    border-color: var(--border);
    outline-color: var(--ring);
  }

  body {
    background: var(--background);
    color: var(--foreground);
  }

  main {
    @apply mx-auto container flex flex-col px-5 py-10 sm:px-10;
  }

  h1 {
    @apply text-gradient text-6xl font-semibold max-sm:text-4xl;
  }

  h3 {
    @apply text-2xl font-bold;
  }

  ul {
    @apply list-disc list-inside;
  }
}

/* ---------------- COMPONENTS ---------------- */
@layer components {
  #home .subheading {
    @apply text-light-100 text-lg max-sm:text-sm text-center mt-5;
  }

  #explore_btn {
    @apply flex w-fit cursor-pointer rounded-full border border-[var(--color-dark-200)] bg-[var(--color-dark-100)] px-8 py-3.5 max-sm:w-full;
  }

  #explore_btn a {
    @apply flex-center gap-2 w-full text-center;
  }

  header {
    @apply sticky top-0 z-50;
    backdrop-filter: blur(12px);
    background: rgba(0, 0, 0, 0.5);
  }

  header nav {
    @apply flex flex-row justify-between mx-auto container sm:px-10 px-5 py-4;
  }

  header .logo {
    @apply flex flex-row items-center gap-2;
  }

  header .logo p {
    @apply text-xl font-bold italic max-sm:hidden;
  }

  header ul {
    @apply flex flex-row items-center gap-6;
  }

  .events {
    @apply grid md:grid-cols-3 gap-10 sm:grid-cols-2 grid-cols-1;
  }

  #event-card {
    @apply flex flex-col gap-3;
  }

  #event-card .poster {
    @apply h-[300px] w-full rounded-lg object-cover;
  }

  #event-card .title {
    @apply text-[20px] font-semibold line-clamp-1;
  }

  #event-card p {
    @apply text-light-200 text-sm font-light;
  }

  #event-card .datetime {
    @apply text-light-200 flex flex-row flex-wrap items-center gap-4;
  }

  #event-card .datetime div {
    @apply flex flex-row gap-2;
  }

  #event .header {
    @apply flex w-2/3 flex-col items-start gap-4 max-lg:w-full mb-10;
  }

  #event .details {
    @apply flex w-full flex-col lg:flex-row gap-12 items-start mt-12 max-lg:items-center;
  }

  #event .details .content {
    @apply flex flex-[2] flex-col gap-8 max-lg:w-full;
  }

  #event .details .content .banner {
    @apply max-h-[457px] w-full rounded-lg object-cover;
  }

  #event .details .content .agenda {
    @apply flex flex-col gap-2;
  }

  #event .details .content .agenda ul li {
    @apply text-light-100 text-lg max-sm:text-sm;
  }

  #event .details .booking {
    @apply flex-1 w-full p-4 border-l border-gray-700;
  }

  #event .details .booking .signup-card {
    @apply flex w-full flex-col gap-6 rounded-[10px] border px-5 py-6;
    background: var(--color-dark-100);
    border-color: var(--color-dark-200);
    box-shadow: 0px 4px 40px 0px #00000066;
  }

  #event h2 {
    @apply text-2xl font-bold;
  }

  #event p {
    @apply text-light-100 text-lg max-sm:text-sm;
  }

  .pill {
    @apply text-light-100 text-xs rounded-[6px] px-5 py-2;
    background: var(--color-dark-100);
  }

  #book-event {
    @apply flex flex-col gap-6;
  }

  #book-event form {
    @apply flex flex-col gap-6;
  }

  #book-event form div {
    @apply flex flex-col gap-2;
  }

  #book-event form input {
    @apply rounded-[6px] px-5 py-2.5;
    background: var(--color-dark-200);
  }

  #book-event form button {
    @apply w-full cursor-pointer rounded-[6px] px-4 py-2.5 text-lg font-semibold text-black;
    background: var(--primary);
  }
}